%p Found #{@number_of_divisions} divisions today:
%ul
  - @divisions.each do |d|
    %li<
      #{link_to(d[:time], "/#{@house}/" + d[:date] + '/' + d[:division_number])} - #{link_to(d[:questioner], d[:url])}, "
      %em>= d[:question]
      "
%p
  Go back to the #{link_to("list of dates", "/#{@house}")}.
