%p The following are the votes for #{link_to("division number #{@division}", @url)}, held at #{@time} for day #{@date}.

%p Go back to #{link_to("today's list of divsions", "/#{@date}")}.

%img{:src => "http://chart.apis.google.com/chart?cht=bhg&chs=250x90&chd=t:#{@noes.count},#{@ayes.count}&chxt=x,y&chxl=1:|Ayes|Noes"}

%p Ayes: #{@ayes.count}
%ul
  = @ayes

%p Noes: #{@noes.count}
%ul
  = @noes
