<html>
  <head>
    <title>Votes</title>
  </head>
  
  <body>
      The following are the votes for <a href="<%= @url %>">division number <%= @division %></a> for day <%= @date %>.
      <br /><br />
      
      Ayes:
      <ul>
      <%= @ayes %>
      </ul>
      
      Noes:
      <ul>
      <%= @noes %>
      </ul>
  </body>
</html>
