<html>
  <head>
    <title>Votes</title>
  </head>
  
  <body>
      The following are the votes for <a href="<%= @url %>">division number <%= @division %></a> for day <%= @date %>.
      <br /><br />
      <img src="http://chart.apis.google.com/chart?cht=bhg&chs=250x90&chd=t:<%= "#{@noes.count},#{@ayes.count}" %>&chxt=x,y&chxl=1:|Ayes|Noes" />
      <br /><br />
      
      Ayes: <%= @ayes.count %>
      <ul>
      <%= @ayes %>
      </ul>
      
      Noes: <%= @noes.count %>
      <ul>
      <%= @noes %>
      </ul>
  </body>
</html>
